{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | GCash</title>
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <style>
        a{
            text-decoration: none;
            color: #002CB8 !important;
        }
    </style>
</head>
<body>
    <div class="homepage-container">

        <div class="wallet-header">

            <div class="wallet-logo">
                <img src="{% static 'core/asset/logo2.svg' %}">
                <span>Hello {{ user }}!</span>
            </div>

        </div>


        <div class="wallet-column">

            <div class="first-wallet-column">
                <div class="wallet-text">
                    <p>Wallet</p>
                </div>
                <div class="save-text">
                    <p>Save</p>
                </div>
                <div class="borrow-text">
                    <p>Borrow</p>
                </div>
                <div class="grow-text">
                    <p>Grow</p>
                </div>
            </div>

        </div>

        <div class="wallet-container">
            <div class="wallet">
                
            <div class="available-balance">Available Balance</div>

            <div class="visible-cash">
                
                <div id="balance" class="balance-amount">₱ {{ profile.balance }} </div>
                <button class="cash-in">+ Cash In</button>
            </div>

            <div class="copy-container">    
                <div class="acc-word">Account No:</div>
                <div class="acc-num" id="accountText">{{ profile.account_number }} </div>
                <img src="https://img.icons8.com/material-outlined/24/000000/copy.png" alt="Copy" class="clipboard-icon" onclick="copyToClipboard()" />
                <span class="copied-msg" id="copiedMsg">Copied!</span>
            </div>

            </div>

        </div>

        
        <div class="wallet-click-container">
            <div class="wallet-sub-click">
                <div class="click-option-one">

                    <a href="/send/">
                        <div class="click-send">
                            <img src="{% static 'core/asset/send.svg' %}">
                            <div class="send-text">Send</div>
                        </div>
                    </a>

                    <a href="/">
                    <div class="click-send">
                            <img src="{% static 'core/asset/load.svg' %}">
                            <div class="send-text">Load</div>
                        </div>
                    </a>

                    <a href="/transfer/">
                    <div class="click-send">
                            <img src="{% static 'core/asset/transfer.svg' %}">
                            <div class="send-text">Transfer</div>
                        </div>
                    </a>

                    <a href="/">
                    <div class="click-send">
                            <img src="{% static 'core/asset/bills.svg' %}">
                            <div class="send-text">Bills</div>
                        </div>
                    </a>

                </div>

                <div class="click-option-one">

                    <a href="">
                    <div clas/s="click-send">
                            <img src="{% static 'core/asset/send.svg' %}">
                            <div class="send-text">Borrow</div>
                        </div>
       
                    </a>
                    <a href="">
                    <div clas/s="click-send">
                            <img src="{% static 'core/asset/g-save.svg' %}">
                            <div class="send-text">GSave</div>
                        </div>
       
                    </a>
                    <a href="">
                    <div clas/s="click-send">
                            <img src="{% static 'core/asset/g-interest.svg' %}">
                            <div class="send-text">GInvest</div>
                        </div>
       
                    </a>
                    <a href="">
                    <div clas/s="click-send">
                            <img src="{% static 'core/asset/view-all.svg' %}">
                            <div class="send-text">View</div>
                        </div>
       
                    </a>
                </div>

            </div>

        </div>

        <div class="explore-extra">
            <div class="explore-app">
            <div class="explore-app-sub-container">
                <div class="explore-text">Explore the App</div>

            <div class="explore-tab">
                <div class="explore-option">
                    <img src="{% static 'core/asset/Ginsure.svg' %}">
                    <div class="g-insure-text">GInsure</div>
                </div>

                <div class="explore-option">
                    <img src="{% static 'core/asset/glife.svg' %}">
                    <div class="g-insure-text">GLife</div>
                </div>

                <div class="explore-option">
                    <img src="{% static 'core/asset/review.svg' %}">
                    <div class="g-insure-text">Review</div>
                </div>

                <div class="explore-option">
                    <img src="{% static 'core/asset/forest.svg' %}">
                    <div class="g-insure-text">GForest</div>
                </div>

                <div class="explore-option">
                    <img src="{% static 'core/asset/card.svg' %}">
                    <div class="g-insure-text">Cards</div>
                </div>

            </div>

            </div>
        </div>
        </div>

        <nav class="bottom-navbar">
    <a href="#" class="nav-item active">
      <img src="{% static 'core/asset/home.svg' %}">
      <span>Home</span>
    </a>
    <a href="#" class="nav-item">
      <img src="{% static 'core/asset/inbox.svg' %}">
      <span>Inbox</span>
    </a>
    <a href="#" class="nav-item qr">
      <div class="qr-icon">
        <img src="{% static 'core/asset/qr-code.svg' %}">
      </div>
      <span>QR</span>
    </a>
    <a href="#" class="nav-item">
      <img src="{% static 'core/asset/transaction.svg' %}">
      <span>Transactions</span>
    </a>
    <a href="#" class="nav-item">
      <img src="{% static 'core/asset/profile.svg' %}" >
      <span>Profile</span>
    </a>
  </nav>
    </div>

    <script src="{% static 'core/js/dashboard.js' %}"></script>
</body>
</html>