{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Send | GCash</title>
    <link rel="stylesheet" href="{% static 'core/css/send.css' %}">
</head>
<body>
    
    <div class="send-container">
        <div class="send-nav">
            <div class="arrow">
                <a href="/dashboard/">
                    <img src="{% static 'core/asset/arrow.png' %}">
                </a>
            </div>

            <div class="send">Send</div>

            <div class="caution">
                <img src="{% static 'core/asset/Frame.png' %}">
            </div>
        </div>
    </div>

    <div class="gcash-banner">
        <img src="{% static 'core/asset/gcash_banner.png' %}">
    </div>

    <div class="send-content">
        
        <div class="send-money">Send to any GCash account</div>

        <a class="express-link" href="/send-two/">
            <div class="express-send">
            <div class="express-img">
                <img src="{% static 'core/asset/gcash.svg' %}">
            </div>

            <div class="express-text">
                <div class="e-text-one">Express Send</div>
                <div class="e-text-two">Send GCash quickly</div>
            </div>
            </div>
        </a>

        
        <a class="express-link" href="#">
        <div class="instant-cash">
            <div class="express-img">
                <img src="{% static 'core/asset/gcash.svg' %}">
            </div>

            <div class="express-text">
                <div class="same-one">Instant cash loan up to 125k</div>
                <div class="e-text-two">Go to GLoan</div>
            </div>
        </div>
        </a>

        <div class="send-money">Send through our partners</div>

        <div class="send-money-t">Did you know that Gcash has over 2000+ <br> partners all over the philippines. <span> See our <br> list of Gcash Padada partners.</span> </div>

        <a class="express-link" href="#">
        <div class="express-send">
            <div class="express-img">
                <img src="{% static 'core/asset/gcash.svg' %}">
            </div>

            <div class="express-text">
                <div class="e-text-one">GCash Padala</div>
                <div class="e-text-two">Send cash to anyone in the country</div>
            </div>
        </div>
        </a>

        <div class="send-money">Request Money</div>

        <a class="express-link send-end" href="#">
        <div class="express-send">
            <div class="express-img">
                <img src="{% static 'core/asset/gcash svg.svg' %}">
            </div>

            <div class="express-text">
                <div class="e-text-one">Generate QR</div>
                <div class="e-text-two">Request easily using your QR code</div>
            </div>
        </div>
        </a><br><br>
    </div>
</body>
</html>