{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer | GCash</title>
    <link rel="stylesheet" href="{% static 'core/css/transfer-one.css' %}">
    <style>
        a{
            text-decoration: none;
            color: #002CB8 !important;
        }
    </style>
</head>
<body>
    <div class="send-container">
        <div class="send-nav">
            <div class="arrow">
                <a href="/dashboard/">
                    <img src="{% static 'core/asset/arrow.png' %}">
                </a>
            </div>

            <div class="send">Transfer</div>

            <div class="caution">
                <img src="{% static 'core/asset/Frame.png' %}">
            </div>
        </div>
    </div>

    <div class="gcash-banner">
        <img src="{% static 'core/asset/gcash-banner1.png' %}">
    </div>

    <div class="tranfer-one-content">

        <div class="easily">Easily Transfer Funds now!</div>

        <div class="easily-two">Save your bank accounts and schedule <br> automatic GCash wallet transfer.</div>

        <a href="/transfer-two/">
            <div class="add">Add account</div>
        </a>

        <div class="partner-bank">Partner Bank</div>


        <div class="scan">
            <div class="scan-one">Scan/Upload Bank QR</div>
            <div class="scan-two">Bank transfer by scanning or uplaoding QR code</div>
        </div>
    </div>
    
</body>
</html>