{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | GCash</title>
    <!-- <link rel="stylesheet" href="{% static 'core/css/transfer-successful.css' %}"> -->
    <link rel="stylesheet" href="{% static 'core/css/transfer-successful.css' %}">
</head>

<body>

    <div class="transfer-successful-container">

        <div class="send-nav">

            <div class="arrow">
                <a href="#">
                    <img src="{% static 'core/asset/arrow.png' %}">
                </a>
            </div>

            <div class="send">Express Send</div>

            <div class="caution">
                <!-- <img src="{% static 'core/asset/Frame.png' %}"> -->
            </div>

        </div>

        <div class="card-container">

            <div class="card">
                <div class="checkmark-circle">
                    <span class="checkmark">✔</span>
                </div>

                <div class="title">{% if send %}{{ send.reciever.username|default:"Recipient" }}{% elif transfer %}{{ transfer.account_name|default:"Recipient" }}{% else %}Recipient{% endif %}</div>

                <div class="subtitle-container">
                    <div class="subtitle">{% if send %}{{ send.reciever.profile.account_number|default:"" }}{% elif transfer %}{{ transfer.account_number|default:"" }}{% else %}{% endif %}</div>
                </div>

                <div class="via">Sent via GCash</div>

                <hr class="first-hr">
                
                <div class="details">
                    <p>
                        <span class="label">Amount</span> <span class="highlight">₱{% if transaction %}{{ transaction.amount }}{% else %}0.00{% endif %}</span>
                    </p>

                    <hr class="second-hr">

                    <p>
                        <span class="label">Total Amount Sent</span> 
                        <span class="amount-total">₱{% if transaction %}{{ transaction.amount }}{% else %}0.00{% endif %}</span>
                    </p>

                    <p class="Payment-management"><span class="label">Sender</span> Payment Management</p>
                    <p class="all-ref"><span class="label ref">Ref No. <span style="color: #292929;">{% if transaction %}{{ transaction.id }}{% else %}N/A{% endif %}</span></span> <span style="color: #292929;" >{% if transaction %}{{ transaction.date_time|date:"M d, Y h:i A" }}{% else %}N/A{% endif %}</span></p>

                </div>

            </div>

        </div>

        <div class="button-container">
            <a href="/dashboard/" class="btn">Return to Home</a>
        </div>

    </div>
</body>
</html>